<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>App</title>
    <style>
        * {
            background: black;
            color: beige;
        }
    </style>
</head>

<body>
    <h1>Characters</h1>
    <p>sdadSD</p>

    <script src="public/js/gamepad.js">

    </script>
</body>

</html>